body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-align: center;
    max-width: 500px;
    width: 90%;
}

.photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    color: darkmagenta;
    margin: 10px 0;
}

.countdown {
    font-size: 1.25em;
    color: white;
    margin-bottom: 20px;
}

.quote {
    font-size: 1.5em;
    color: darkmagenta;
    margin-bottom: 20px;
    font-weight: bold; /* Destacar a frase romântica */
}

iframe {
    border: none;
    margin-top: 20px;
}

/* Responsividade para mobile */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    .countdown {
        font-size: 0.625em; /* Metade do tamanho da fonte do nome */
    }
    .quote {
        font-size: 1.25em;
    }
}
