@keyframes movimento {
    0% { background-position: 0 0; }
    100% { background-position: 100px 100px; }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #111; /* Fundo preto fosco */
    background-size: 200% 200%;
    animation: movimento 10s linear infinite;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    position: relative;
}

.foto {
    width: 100%;
    border-radius: 10px;
}

.nomes, .destaque {
    color: #ff4081; /* Cor destaque para nomes e frase romântica */
    font-size: 1.5em; /* Tamanho da fonte maior */
}

#contador {
    font-size: 0.8em; /* Tamanho da fonte menor para o tempo */
    margin-bottom: 20px; /* Espaçamento para melhor leitura */
}

.spotify-player {
    margin-top: 20px;
}

iframe {
    border-radius: 12px;
    width: 100%;
}
